/*============= GERAL ================*/
header div.superior{
    background: #7e9b31;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    background: #7e9b31;
    display: flex;
    padding: 3vw 3vw 3vw 3vw ;
    justify-content: space-between;
    justify-content: right;
}
header div.direita{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3vw 3vw 3vw 3vw ;
    background: #7e9b31;
}
header nav ul li a {
    padding: 2vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
}
header img {
    width: 100%;
    height: 80%;
}
footer {
    background: #7e9b31;
    text-align: center;
}
footer div.mod{
    justify-content: space-between;
    text-align: center;
}
footer div.mod div p span{
    font-size: 1rem;
}
footer div.mod div p{
    color: white;
    font-size: 1rem;
    padding: 2vw 2vw 0vw 2vw;
}
footer div.mod div ul.nome{
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 10vw 0 10vw;
}
footer div.mod div ul.nome li{
    color: white;
    font-size: 1rem;
    padding: 1vw 0 0 0;
}
footer nav ul{
	display: flex;
	justify-content: center;
	padding: 0vw 15vw 0vw 15vw;
}
footer nav ul li {
	margin: 0px 10px 10px 10px;
	font-size: 2rem;
    padding: 2vw 2vw 2vw 2vw;
}
footer ul li a{
	color: white;
}
/*================ GLÚTEN ====================*/
main.gluten {
    margin: 10vw 20vw 10vw 20vw;
}
main.gluten h2{
    text-align: center;
    font-size: 2rem ;
    padding: 2vw;
}
main.gluten section.Inicio p {
    padding: 1px 1px 10px 1px;
    font-size: 1.7rem;
}
main.gluten section.sintomas h2 {
    font-weight: 600;
}
main.gluten section.sintomas p {
    font-size: 1.7rem;
    font-weight: 500;
    padding: 35px 2px 20px 2px;
}
main.gluten section.sintomas li {
    margin: 2vw 4vw 4vw 2vw;
    font-size: 1.5rem;
    border-left: 40px solid rgb(197, 235, 155);
    border-radius: 20px;
}
main.gluten section.dieta div.dieta{
    padding: 4vw 0 4vw 0;
} 
main.gluten section.dieta h2 {
    font-weight: 600;
}
main.gluten section.dieta p {
    font-size: 1.7rem;
    font-weight: 500;
}
main.gluten section.dieta div.cafe {
    background: linear-gradient(rgb(218, 236, 114) , rgb(190, 241, 123));
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
    padding: 1vw 1vw 1vw 1vw;
}
main.gluten section.dieta div.cafe h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0 0 1vw 0;
}
main.gluten section.dieta div.cafe p {
    display: flex;
    justify-content: center;
}
main.gluten section.dieta div.lanche {
    background: linear-gradient(rgb(218, 236, 114) , rgb(190, 241, 123));
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
    padding: 1vw 1vw 1vw 1vw;
}
main.gluten section.dieta div.lanche h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0 0 1vw 0;
}
main.gluten section.dieta div.lanche p {
    display: flex;
    justify-content: center;
}
main.gluten section.dieta div.almoco {
    background: linear-gradient(rgb(218, 236, 114) , rgb(190, 241, 123));
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
    padding: 1vw 1vw 1vw 1vw;
}
main.gluten section.dieta div.almoco h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0 0 1vw 0;
}
main.gluten section.dieta div.almoco p {
    display: flex;
    justify-content: center;
}
main.gluten section.dieta div.tarde {
    background: linear-gradient(rgb(218, 236, 114) , rgb(190, 241, 123));
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
    padding: 1vw 1vw 1vw 1vw;
}
main.gluten section.dieta div.tarde h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0 0 1vw 0;
}
main.gluten section.dieta div.tarde p {
    display: flex;
    justify-content: center;
}
main.gluten section.dieta div.janta {
    background: linear-gradient(rgb(218, 236, 114) , rgb(190, 241, 123));
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
    padding: 1vw 1vw 1vw 1vw;
}
main.gluten section.dieta div.janta h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0 0 1vw 0;
}
main.gluten section.dieta div.janta p {
    display: flex;
    justify-content: center;
}
main.gluten section.dieta div.ceia{
    background: linear-gradient(rgb(218, 236, 114) , rgb(190, 241, 123));
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
    padding: 1vw 1vw 1vw 1vw;
}
main.gluten section.dieta div.ceia h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0 0 1vw 0;
}
main.gluten section.dieta div.ceia p {
    display: flex;
    justify-content: center;
}
main.gluten section.fonte{
    display: flex;
    justify-content: center;
    margin: 0 3vw 3vw 3vw;
    font-size: 2rem;
}
main.gluten section.botao a{
    color: #f7f7f7;
    background: #7e9b31;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-weight: bold;
}