/*============= GERAL ================*/
header div.banner{
    padding: 30vw 10vw 5vw 10vw;
    background: linear-gradient(rgba(121, 189, 154, 0.2), rgba(121, 189, 154, 0.2)), url(../src/ALIMENTAÇÃO-SAUDÁVEL-nenhuma.png) no-repeat;
    background-size: cover;
}
header div.superior{
    background: #7e9b31;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    background: #7e9b31;
    display: flex;
    padding: 3vw 3vw 3vw 3vw ;
    justify-content: space-between;
    justify-content: right;
}
header div.direita{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3vw 3vw 3vw 3vw ;
    background: #7e9b31;
}
header nav ul li a {
    padding: 2vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
}
footer {
    background: #7e9b31;
    text-align: center;
}
footer div.rodape{
    justify-content: space-between;
    text-align: center;
}
footer div.rodape div p span{
    font-size: 1rem;
}
footer div.rodape div p{
    color: white;
    font-size: 1rem;
    padding: 2vw 2vw 0vw 2vw;
}
footer div.rodape div ul.nome{
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 10vw 0 10vw;
}
footer div.rodape div ul.nome li{
    color: white;
    font-size: 1rem;
    padding: 1vw 0 0 0;
}
footer nav ul{
	display: flex;
	justify-content: center;
	padding: 0vw 15vw 0vw 15vw;
}
footer nav ul li {
	margin: 0px 10px 10px 10px;
	font-size: 2rem;
    padding: 2vw 2vw 2vw 2vw;
}
footer ul li a{
	color: white;
}
/*================ NENHUMA ====================*/
main.nenhuma{
    margin: 10vw 20vw 10vw 20vw;
}
main.nenhuma h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border-bottom: 2px solid ;
    margin: 4vw;
    padding: 2vw;
}
main.nenhuma section.dieta1 div.cafe {
    background: linear-gradient(rgb(218, 236, 114) , rgb(190, 241, 123));
    padding: 2vw;
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
}
main.nenhuma section.dieta1 div.cafe h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 1vw 0 1vw 0;
    font-weight: bold;
}
main.nenhuma section.dieta1 div.cafe p {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}
main.nenhuma section.dieta1 div.lanche {
    background: linear-gradient(rgb(218, 236, 114) , rgb(190, 241, 123));
    padding: 2vw;
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
}
main.nenhuma section.dieta1 div.lanche h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 1vw 0 1vw 0;
    font-weight: bold;
}
main.nenhuma section.dieta1 div.lanche p {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}
main.nenhuma section.dieta1 div.almoco {
    background: linear-gradient(rgb(218, 236, 114) , rgb(190, 241, 123));
    padding: 2vw;
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
}
main.nenhuma section.dieta1 div.almoco h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 1vw 0 1vw 0;
    font-weight: bold;
}

main.nenhuma section.dieta1 div.almoco p {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}
main.nenhuma section.dieta1 div.tarde {
    background: linear-gradient(rgb(218, 236, 114) , rgb(190, 241, 123));
    padding: 2vw;
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
}
main.nenhuma section.dieta1 div.tarde h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 1vw 0 1vw 0;
    font-weight: bold;
}
main.nenhuma section.dieta1 div.tarde p {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}
main.nenhuma section.dieta1 div.janta {
    background: linear-gradient(rgb(218, 236, 114) , rgb(190, 241, 123));
    padding: 2vw;
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
}
main.nenhuma section.dieta1 div.janta h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 1vw 0 1vw 0;
    font-weight: bold;
}
main.nenhuma section.dieta1 div.janta p {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}
main.nenhuma div.fonte {
    display: flex;
    justify-content: center;
    margin: 3vw;
    font-size: 1.5rem;
}
main.nenhuma div.botao a{
    color: #f7f7f7;
    background: #7e9b31;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-weight: bold;
}
div img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 1vw;
    display: block;
    margin: 4vw auto;
}
@media (max-width: 578px){
    header div.direita{
        font-size: 3vw;
        padding: 3vw 3vw 3vw 3vw ;
        justify-content: space-between;
        justify-content: right;
    }
    header nav ul li a {
        font-size: 3vw;
    }
    main.nenhuma{
        margin: 1vw 2vw 1vw 2vw;
    }
    main.nenhuma h2 {
        font-size: 1rem;
    }
    main.nenhuma section.dieta1 div.cafe h3 {
        font-size: 1rem;
    }
    main.nenhuma section.dieta1 div.cafe p {
        font-size: 3vw;
    }
    main.nenhuma section.dieta1 div.lanche h3 {
        font-size: 1rem;
    }
    main.nenhuma section.dieta1 div.lanche p {
        font-size: 3vw;
    }
    main.nenhuma section.dieta1 div.almoco h3 {
       font-size: 1rem;
    }
    main.nenhuma section.dieta1 div.almoco p {
        font-size: 3vw;
    }
    main.nenhuma section.dieta1 div.tarde h3 {
        font-size: 1rem;
    }
    main.nenhuma section.dieta1 div.tarde p {
        font-size: 3vw;
    }
    main.nenhuma section.dieta1 div.janta h3 {
        font-size: 1rem;
    }
    main.nenhuma section.dieta1 div.janta p {
        font-size: 3vw;
    }
    main.nenhuma div.fonte {
        font-size: 1rem;
    }
    footer div.rodape div p{
        font-size: 3vw;
    }
    footer div.rodape div ul.nome{
        justify-content: center;
    }
    footer div.rodape div ul.nome li{
        font-size: 2vw;
        padding: 2px 2px 0 2px;
    }
    footer nav ul{
        display: flex;
        justify-content: center;
        padding: 0vw 1vw 0vw 1vw;
    }
    footer nav ul li {
        font-size: 1rem;
    }
}