/*============= GERAL ================*/
header div.superior{
    background: #7e9b31;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    background: #7e9b31;
    display: flex;
    padding: 3vw 3vw 3vw 3vw ;
    justify-content: space-between;
    justify-content: right;
}
header div.direita{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3vw 3vw 3vw 3vw ;
    background: #7e9b31;
}
header nav ul li a {
    padding: 2vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
}
header img {
    width: 100%;
    height: 80%;
}
footer {
    background: #7e9b31;
    text-align: center;
}
footer div.mod{
    justify-content: space-between;
    text-align: center;
}
footer div.mod div p span{
    font-size: 1rem;
}
footer div.mod div p{
    color: white;
    font-size: 1rem;
    padding: 2vw 2vw 0vw 2vw;
}
footer div.mod div ul.nome{
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 10vw 0 10vw;
}
footer div.mod div ul.nome li{
    color: white;
    font-size: 1rem;
    padding: 1vw 0 0 0;
}
footer nav ul{
	display: flex;
	justify-content: center;
	padding: 0vw 15vw 0vw 15vw;
}
footer nav ul li {
	margin: 0px 10px 10px 10px;
	font-size: 2rem;
    padding: 2vw 2vw 2vw 2vw;
}
footer ul li a{
	color: white;
}
/*============= SOBRE NÓS ================*/
main section h1 {
    margin: 2vw 5vw 2vw 5vw;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}
main.nos section {
    margin: 2vw 2vw 4vw 2vw ;
}
main.nos section ul li {
    padding: 2vw 5vw 2vw 5vw ;
    font-size: 1rem;
}
main.nos section ul li span {
    font-size: 1.5rem;
}
main.nos section ul li span.vermelho{
    color: red;
}
main.nos section ul li span.lilas {
    color: rgb(168, 98, 168);
}
main.nos section ul li span.rosa {
    color : rgb(223, 28, 174)
}
main.nos section ul li span.amarelo {
    color : orange
}
main.nos section ul li span.roxo {
    color: blueviolet;
}
main.nos section ul li span.azul {
    color: blue;
}
main.nos section ul li span.verde {
    color: green;
}
main.nos section.botao a {
    color: #f7f7f7;
    background: #7e9b31;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-weight: bold;
}