/*============= GERAL ================*/
header div.banner{
    padding: 30vw 10vw 5vw 10vw;
    background: linear-gradient(rgba(121, 189, 154, 0.2), rgba(121, 189, 154, 0.2)), url(../src/ALIMENTAÇÃO-SAUDÁVEL-restrições.png) no-repeat;
    background-size: cover;
}
header div.superior{
    background: #7e9b31;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    background: #7e9b31;
    display: flex;
    padding: 3vw 3vw 3vw 3vw ;
    justify-content: space-between;
    justify-content: right;
}
header div.direita{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3vw 3vw 3vw 3vw ;
    background: #7e9b31;
}
header nav ul li a {
    padding: 2vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
}
footer {
    background: #7e9b31;
    text-align: center;
}
footer div.rodape{
    justify-content: space-between;
    text-align: center;
}
footer div.rodape div p span{
    font-size: 1rem;
}
footer div.rodape div p{
    color: white;
    font-size: 1rem;
    padding: 2vw 2vw 0vw 2vw;
}
footer div.rodape div ul.nome{
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 10vw 0 10vw;
}
footer div.rodape div ul.nome li{
    color: white;
    font-size: 1rem;
    padding: 1vw 0 0 0;
}
footer nav ul{
	display: flex;
	justify-content: center;
	padding: 0vw 15vw 0vw 15vw;
}
footer nav ul li {
	margin: 0px 10px 10px 10px;
	font-size: 2rem;
    padding: 2vw 2vw 2vw 2vw;
}
footer ul li a{
	color: white;
}
/*============= RESTRIÇÕES ================*/
main.restricoes{
    margin: 3vw 20vw 10vw 20vw;
}
main.restricoes section h2{
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    padding: 7vw 1vw 3vw 1vw;
}
main.restricoes table {
    border-collapse: collapse;
    display: grid;
    place-items: center;
}

main.restricoes table tr td {
    border: 5px solid #7e9b31;
    padding: 1vw 10vw 1vw 10vw;
    font-size: 1.8rem;
    text-align: center;
    color: rgb(54, 54, 54);
}

main.restricoes table tr td a {
    color: rgb(54, 54, 54);
}
main.restricoes div.botao a{
    color: #f7f7f7;
    background: #7e9b31;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-weight: bold;
}
main.restricoes div.opcoes{
    margin: 10vw 10vw 10vw 10vw;
}
div.opcoes div img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 1vw;
    display: block;
    margin: 4vw auto;
}
@media (max-width: 578px){
    header div.direita{
        font-size: 3vw;
        padding: 3vw 3vw 3vw 3vw ;
        justify-content: space-between;
        justify-content: right;
    }
    header nav ul li a {
        font-size: 3vw;
    }
    main.restricoes{
        margin: 1vw 2vw 1vw 2vw;
    }
    main.restricoes section h2{
        font-size: 1rem;
    }
    footer div.rodape div p{
        font-size: 3vw;
    }
    footer div.rodape div ul.nome{
        justify-content: center;
    }
    footer div.rodape div ul.nome li{
        font-size: 2vw;
        padding: 2px 2px 0 2px;
    }
    footer nav ul{
        display: flex;
        justify-content: center;
        padding: 0vw 1vw 0vw 1vw;
    }
    footer nav ul li {
        font-size: 1rem;
    }
}