/*============= GERAL ================*/
header div.superior{
    background: #7e9b31;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    background: #7e9b31;
    display: flex;
    padding: 3vw 3vw 3vw 3vw ;
    justify-content: space-between;
    justify-content: right;
}
header div.direita{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3vw 3vw 3vw 3vw ;
    background: #7e9b31;
}
header nav ul li a {
    padding: 2vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
}
header img {
    width: 100%;
    height: 80%;
}
footer {
    background: #7e9b31;
    text-align: center;
}
footer div.mod{
    justify-content: space-between;
    text-align: center;
}
footer div.mod div p span{
    font-size: 1rem;
}
footer div.mod div p{
    color: white;
    font-size: 1rem;
    padding: 2vw 2vw 0vw 2vw;
}
footer div.mod div ul.nome{
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 10vw 0 10vw;
}
footer div.mod div ul.nome li{
    color: white;
    font-size: 1rem;
    padding: 1vw 0 0 0;
}
footer nav ul{
	display: flex;
	justify-content: center;
	padding: 0vw 15vw 0vw 15vw;
}
footer nav ul li {
	margin: 0px 10px 10px 10px;
	font-size: 2rem;
    padding: 2vw 2vw 2vw 2vw;
}
footer ul li a{
	color: white;
}
/*============= RESTRIÇÕES ================*/
main.restricoes{
    margin: 3vw 20vw 10vw 20vw;
}
main.restricoes section h2{
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    padding: 7vw 1vw 3vw 1vw;
}
main.restricoes table {
    border-collapse: collapse;
    display: grid;
    place-items: center;
}

main.restricoes table tr td {
    border: 5px solid #7e9b31;
    padding: 1vw 10vw 1vw 10vw;
    font-size: 1.8rem;
    text-align: center;
    color: rgb(54, 54, 54);
}

main.restricoes table tr td a {
    color: rgb(54, 54, 54);
}