
/*============= GERAL ================*/
header div.superior{
    background: #7e9b31;
    display: flex;
    justify-content: space-between;
}
header nav ul{
    background: #7e9b31;
    display: flex;
    padding: 3vw 3vw 3vw 3vw ;
    justify-content: space-between;
    justify-content: right;
}
header div.direita{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3vw 3vw 3vw 3vw ;
    background: #7e9b31;
}
header nav ul li a {
    padding: 2vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
}
header img {
    width: 100%;
    height: 80%;
}
footer {
    background: #7e9b31;
    text-align: center;
}
footer div.mod{
    justify-content: space-between;
    text-align: center;
}
footer div.mod div p span{
    font-size: 1rem;
}
footer div.mod div p{
    color: white;
    font-size: 1rem;
    padding: 2vw 2vw 0vw 2vw;
}
footer div.mod div ul.nome{
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 10vw 0 10vw;
}
footer div.mod div ul.nome li{
    color: white;
    font-size: 1rem;
    padding: 1vw 0 0 0;
}

footer nav ul{
	display: flex;
	justify-content: center;
	padding: 0vw 15vw 0vw 15vw;
}
footer nav ul li {
	margin: 0px 10px 10px 10px;
	font-size: 2rem;
    padding: 2vw 2vw 2vw 2vw;
}
footer ul li a{
	color: white;
}
/*============= INDEX(INÍCIO) ================*/
main.inicio {
    margin: 5vw 10vw 5vw 10vw;
}
main.inicio section h2{
    text-align: center;
    font-size: 2.5rem;
    margin: 4vw 0 4vw 0;
}
main.inicio section p.saudavel{
    font-size: 1.7rem;
    color: rgb(54, 54, 54);
    margin: 0vw 8vw 4vw 8vw;
}
main.inicio section.beneficios div h2 {
    text-align: center;
    font-size: 3rem;
    margin: 23px;
    padding: 1vw 1vw 3vw 1vw;
}
main.inicio section img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 1vw;
    display: block;
    margin: 4vw auto;
}
main.inicio section.beneficios h2 {
    text-align: center;
    font-size: 2rem;
    padding: 1vw 1vw 2vw 1vw;
}
main.inicio section.beneficios p.acordo{
    font-size: 1.7rem;
    margin: 0vw 4vw 4vw 4vw;
}
main.inicio section.beneficios ol{
    margin: 2vw;
}
main.inicio section.beneficios ol li {
    padding: 2vw 4vw 2vw 4vw;
    font-size: 1.5rem;
    color: rgb(54, 54, 54);
    border-bottom: 2px solid green;
    margin: 4vw;
}
main.inicio section.beneficios ol li p span {
    font-weight: 500;
    font-size: 2rem;
}
main.inicio section.botao a {
    color: #f7f7f7;
    background: #7e9b31;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-weight: bold;
}
