/*==============================================
                FONTE
==============================================*/

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Source Code Pro", monospace;
}
/*==============================================
                    GERAL
===============================================*/
header div.superior{
    background: #7e9b31;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    background: #7e9b31;
    display: flex;
    padding: 3vw 3vw 3vw 3vw ;
    justify-content: space-between;
    justify-content: right;
}
header div.direita{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3vw 3vw 3vw 3vw ;
    background: #7e9b31;
}
header nav ul li a {
    padding: 3vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
}
header img {
    width: 100%;
    height: 70%;
}
footer {
    background: #7e9b31;
    text-align: center;
}
footer div.mod{
    justify-content: space-between;
    text-align: center;
}
footer div.mod div p span{
    font-size: 1rem;
}
footer div.mod div p{
    color: white;
    font-size: 1rem;
    padding: 2vw 2vw 0vw 2vw;
}
footer div.mod div ul.nome{
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 12vw 0 12vw;
}
footer div.mod div ul.nome li{
    color: white;
    font-size: 1rem;
    padding: 1vw 0 0 0;
}

footer nav ul{
	display: flex;
	justify-content: center;
	padding: 0vw 5vw 0vw 5vw;
}
footer nav ul li {
	margin: 0px 10px 10px 10px;
	font-size: 2rem;
    padding: 2vw 1.5vw 2vw 1.5vw;
}
footer ul li a{
	color: white;
}
/*===============================================
                    TOPO(index.html)
================================================*/
main.inicio section h2.beneficios {
    text-align: center;
    font-size: 2rem;
    margin: 23px;
    padding: 1vw 1vw 3vw 1vw;
}
main.inicio section h2 {
    margin: 3vw;
    border-bottom: 2px solid  #7e9b31;
    
}
main.inicio section p.saudavel2 {
    padding: 1vw 4vw 1vw 4vw;
    font-size: 20px;
    color: rgb(54, 54, 54);
    margin: 4vw;
}

section h2 {
    text-align: center;
    font-size: 2rem;
    padding: 1vw 1vw 3vw 1vw;
}

section p {
    padding: 1vw 4vw 1vw 4vw;
    font-size: 20px;
    color: rgb(54, 54, 54);
}
main.inicio section img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 1vw;
    display: block;
    margin: 4vw auto;
}
main.inicio h2 {
    display: flex;
    justify-content: center;
    font-size: 2vw;
}
main.inicio p.acordo{
    font-size: 1.3vw;
    margin: 7vw;
}
main.inicio section.beneficios h2 {
    font-size: 2.6rem;
}
main.inicio section.beneficios {
    display: flex;
    justify-content: space-between;
    margin: 5vw;
}
main.inicio section.beneficios1 {
    display: flex;
    justify-content: space-between;
    margin: 5vw;
}
main.inicio section.beneficios1 h2 {
    font-size: 2.6rem;
}
main.inicio section.beneficios2 h2 {
    font-size: 2.6rem;
}
main.inicio section.beneficios2 {
    display: flex;
    justify-content: space-between;
    margin: 5vw;
}
main.inicio section.beneficios3 {
    display: flex;
    justify-content: space-between;
    margin: 5vw;
}
main.inicio section.beneficios3 h2 {
    font-size: 2.6rem;
}

/*================================
            DICAS
=================================*/
main.dicas {
    margin: 10vw 20vw 10vw 20vw;
}

main.dicas section h2 {
    text-align: center;
    font-size: 2rem;
    margin: 23px;
    padding: 1vw 1vw 3vw 1vw;
}
main.dicas section ol li {
    padding: 1vw 4vw 1vw 4vw;
    font-size: 20px;
    color: rgb(54, 54, 54);
    border-bottom: 2px solid green;
    margin: 4vw;
}

main.dicas section ol li span {
    font-weight: bold;
    font-size: 1.3rem;
}
main.dicas section img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 1vw;
    display: block;
    margin: 4vw auto;
   
}
/*==============================
        DESVANTAGENS
===============================*/
main.desvantagens h2 {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    margin: 5vw;

}
main.desvantagens section.principais {
    display: flex;
    justify-content: space-between;
    margin: 0 4vw 4vw 4vw;
}
main.desvantagens section.principais2 {
    display: flex;
    justify-content: space-between;
    margin: 0 4vw 4vw 4vw;
}
main.desvantagens section.principais h2 {
    font-family: bold;
}
main.desvantagens section.principais div.primeiro {
    background: linear-gradient( rgb(221, 255, 183) , rgb(252, 255, 76));
    margin: 2vw;
    padding: 1px;
    border-radius: 20px;
}
main.desvantagens section.principais div.segundo {
    background: linear-gradient( rgb(221, 255, 183) , rgb(252, 255, 76));
    margin: 2vw;
    padding: 1px;
    border-radius: 20px;
}
main.desvantagens section.principais div.terceiro {
    background: linear-gradient( rgb(221, 255, 183) , rgb(252, 255, 76));
    margin: 2vw;
    padding: 1px;
    border-radius: 20px;
}
main.desvantagens section.principais2 div.quarto {
    background: linear-gradient( rgb(221, 255, 183) , rgb(252, 255, 76));
    margin: 2vw;
    padding: 1px;
    border-radius: 20px;
}
main.desvantagens section.principais2 div.quinto {
    background: linear-gradient( rgb(221, 255, 183) , rgb(252, 255, 76));
    margin: 2vw;
    padding: 1px;
    border-radius: 20px;
}
main.desvantagens section.principais2 div.sexto {
    background: linear-gradient( rgb(221, 255, 183) , rgb(252, 255, 76));
    margin: 2vw;
    padding: 1px;
    border-radius: 20px;
}
img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 1vw;
    display: block;
    margin: 4vw auto;
    border-bottom: 2px solid green;
}
section.lista ul li{
    font-size: 2vw;
    border-bottom: 2px solid;
}
section.lista ul li.lista1 {
    margin: 0 0 0 3vw;
    justify-content: center;
}
section.lista ul li.lista2 {
    margin: 0 0 0 14.2vw;
}
section.lista ul li.lista3 {
    margin: 0 0 0 22vw
}
section.lista ul li.lista4 {
    margin: 0 0 0 32vw;
}
section.lista ul li.lista5 {
    margin: 0 0 0 50.7vw;
}
section.lista ul li.lista6 {
    margin: 0 0 0 50.7vw;
}
section.lista ul li.lista7 {
    margin: 0 0 0 50.7vw;
}
section.lista ul li.lista8 {
    margin: 0 0 0 42vw;
} 
section.lista ul li.lista9 {
    margin: 0 0 0 33vw;
}
section.lista ul li.lista10 {
    margin: 0 0 0 6vw;
}
/*================================
            TABELA
=================================*/
main.restricoes{
    margin: 3vw 20vw 10vw 20vw;
}
main.restricoes section h2{
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    padding: 7vw 1vw 3vw 1vw;
}
main.restricoes table {
    border-collapse: collapse;
    display: grid;
    place-items: center;
}

main.restricoes table tr td {
    border: 5px solid #7e9b31;
    padding: 1vw 10vw 1vw 10vw;
    font-size: 1.8vw;
    text-align: center;
    color: rgb(54, 54, 54);
}

main.restricoes table tr td a {
    color: rgb(54, 54, 54);
}
/*================================
            LACTOSE
=================================*/

main.lactose {
    margin: 10vw 20vw 10vw 20vw;
}
main.lactose p {
    padding: 8px;
}
main.lactose section.negrito h3 {
    font-weight: bold;
    padding: 35px 2px 20px 2px;
}
main.lactose section.sintomas p{
    font-weight: bold;
    padding: 35px 2px 20px 2px;
}
main.lactose section.sintomas li {
    padding: 1px 1px 10px 1px;
}
main.lactose section.dieta p {
    font-weight: bold;
}
main.lactose section.dieta h3 {
    font-weight: bold;
    padding: 35px 2px 20px 2px;
}
main.lactose section.dieta li{
    padding: 1px 1px 10px 1px;
}
main.lactose h2{
    text-align: center;
}
main.lactose section.fonte{
    padding: 50px 0 0 0;
}
/*================================
            GLUTEN
=================================*/

main.gluten {
    margin: 10vw 20vw 10vw 20vw;
}
main.gluten section.Inicio p {
    padding: 1px 1px 10px 1px;
}
main.gluten section.sintomas p.negrito {
    font-weight: bold;
}
main.gluten section.sintomas p {
    font-weight: bold;
    padding: 35px 2px 20px 2px;
}
main.gluten section.sintomas li {
    padding: 1px 1px 10px 1px;
}
main.gluten section.dieta p {
    font-weight: bold;
}
main.gluten section.dieta h3 {
    font-weight: bold;
    padding: 35px 2px 20px 2px;
}
main.gluten section.dieta li{
    padding: 1px 1px 10px 1px;
}
main.gluten h2{
    text-align: center;
}
main.gluten section.fonte{
    padding: 50px 0 0 0;
}
/*================================
            DIABETES 
=================================*/

main.diabetes {
    margin: 10vw 20vw 10vw 20vw;
}
main.diabetes p {
    padding: 1px 1px 10px 1px;
}
main.diabetes p strong {
    font-weight: bold;
}
main.diabetes p.negrito {
    font-weight: bold;
}
main.diabetes h3 {
    font-weight: bold;
    padding: 35px 2px 20px 2px;
}
main.diabetes h2{
    text-align: center;
}
main.diabetes section.fonte{
    padding: 50px 0 0 0;
}
/*================================
            VEGANOS
=================================*/

main.vegano {
    margin: 10vw 20vw 10vw 20vw;
}
main.vegano p {
    padding: 1px 1px 10px 1px;
}
main.vegano li {
    padding: 1px 1px 10px 1px;
}
main.vegetariano h2{
    text-align: center;
}
main.vegano section.dieta h3 {
    font-weight: bold;
    padding: 35px 2px 20px 2px;
}
main.vegano section.dieta p {
    font-weight: bold;
}
main.vegano section.fonte p{
    padding: 50px 0 0 0;
}
/*================================
          VEGETARIANO
=================================*/

main.vegetariano {
    margin: 10vw 20vw 10vw 20vw;
}
main.vegetariano p {
    padding: 8px;
}
main.vegetariano li {
    padding: 1px 1px 10px 1px;
}
main.vegetariano h2{
    text-align: center;
}
main.vegetariano section.dieta h3 {
    font-weight: bold;
    padding: 35px 2px 20px 2px;
}
main.vegetariano section.dieta p {
    font-weight: bold;
}
main.vegetariano section.negrito ul{
    padding: 1px 1px 10px 1px;
}
main.vegetariano section.negrito ul strong{
    font-weight: bold;
}
main.vegetariano section.fonte{
    padding: 50px 0 0 0;
}
/*================================
            NENHUMA
=================================*/
main.nenhuma h2 {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    border-bottom: 2px solid ;
    margin: 4vw;
    padding: 2vw;
}
main.nenhuma section.dieta1 div.cafe {
    background: linear-gradient(rgb(19, 160, 6) , rgb(106, 253, 106) );
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
}
main.nenhuma section.dieta1 div.cafe h3 {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 3vw 0 1vw 0;
}
main.nenhuma section.dieta1 div.cafe p {
    display: flex;
    justify-content: center;
}
main.nenhuma section.dieta1 div.lanche {
    background: linear-gradient(rgb(19, 160, 6) , rgb(106, 253, 106));
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
}
main.nenhuma section.dieta1 div.lanche h3 {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 3vw 0 1vw 0;
}
main.nenhuma section.dieta1 div.lanche p {
    display: flex;
    justify-content: center;
}
main.nenhuma section.dieta1 div.almoco {
    background: linear-gradient(rgb(19, 160, 6) , rgb(106, 253, 106));
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
}
main.nenhuma section.dieta1 div.almoco h3 {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 3vw 0 1vw 0;
}

main.nenhuma section.dieta1 div.almoco p {
    display: flex;
    justify-content: center;
}
main.nenhuma section.dieta1 div.tarde {
    background: linear-gradient(rgb(19, 160, 6) , rgb(106, 253, 106));
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
}
main.nenhuma section.dieta1 div.tarde h3 {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 3vw 0 1vw 0;
}
main.nenhuma section.dieta1 div.tarde p {
    display: flex;
    justify-content: center;
}
main.nenhuma section.dieta1 div.janta {
    background: linear-gradient(rgb(19, 160, 6) , rgb(106, 253, 106));
    margin: 0 10vw 1vw 10vw;
    border-radius: 20px;
}
main.nenhuma section.dieta1 div.janta h3 {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 3vw 0 1vw 0;
}
main.nenhuma section.dieta div.janta p {
    display: flex;
    justify-content: center;
}
main.nenhuma section.fonte {
    display: flex;
    justify-content: center;
    margin: 3vw;
    font-size: 2vw;
}
/*================================
            SOBRE NOS 
=================================*/
main section h1 {
    font-weight: bold;
     font-size: 2rem;
}
main.nos section {
    margin: 1vw 2vw 1vw 2vw ;
}
main.nos section ul li {
    padding: 5px ;
}
main.nos section ul li span {
    font-size: 1.5 ;
}
main.nos section ul li span.vermelho{
    color: red;
}
main.nos section ul li span.lilais {
    color: rgb(168, 98, 168);
}
main.nos section ul li span.rosa {
    color : rgb(223, 28, 174)
}
main.nos section ul li span.amarelo {
    color : orange
}
main.nos section ul li span.roxo {
    color: blueviolet;
}
main.nos section ul li span.azul {
    color: blue;
}
main.nos section ul li span.verde {
    color: green;
}